<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout.html :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container d-flex justify-content-evenly">
    <div id="quiz" class="col-10">

    </div>
<!--    <div class="col-3">-->
<!--        <div id="select-question" class="text-center alert alert-light" style="margin-top: 17%">-->

<!--        </div>-->
<!--    </div>-->
</div>
<div class="text-center container">
    <button onclick="submit()" type="submit" class="btn btn-outline-danger" style="margin: 5% 0;padding: 10px 20px">Submit</button>
</div>
<div th:replace="layout.html :: footer"></div>
</body>

</html>