<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout.html :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form action="/quiz/save-score"  method="post">-->
    <div class="container d-flex justify-content-evenly">
        <div id="quiz" class="col-10" style="margin-right: 2%">

        </div>
        <div class="col-2 select-block">
            <div id="select-question" class="text-center alert alert-dark">

            </div>
        </div>
    </div>
    <div class="text-center container-fluid submit-block">
        <button onclick="submit()" type="submit" class="btn btn-outline-danger" style="margin: 2% 0;padding: 10px 20px">Submit</button>
    </div>
<!--</form>-->

<div th:replace="layout.html :: footer"></div>
</body>

</html>